/tools/enigmacli
/tools/enigmacrack
vgcore.*
gmon.out
*.o
*.so
*.a
CMakeFiles
Makefile
CMakeCache.txt
*.cmake
DartConfiguration.tcl
/test/*_tests
Testing/
.zed/
/.clangd
/compile_commands.json
/.cache
