# Binaries
/tools/enigmacli
/tools/enigmacrack
/test/*_tests

# Build stuff
vgcore.*
gmon.out
*.o
*.so
*.a
CMakeFiles
Makefile
CMakeCache.txt
*.cmake
DartConfiguration.tcl
Testing/
test/*_runner.c

# Editor stuff
.zed/
/.clangd
/compile_commands.json
/.cache

# wasm
*.js
*.wasm
