@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    font: 1em "IBM Plex Mono";
    background-color: #111;
    color: #fff;
    padding: 1em;
    max-width: 60rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.output {
    visibility: hidden;
}

.form-control-plaintext {
    color: #fff;
    background-color: #666;
}
